/**
 * Globales
 *
 * Estilos globales del proyecto
 *
 */

@use "variables" as v;


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuenteSecundaria;
    font-size: 1.6rem;
    background-color: v.$gris;
}

p {
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 2;
    // margin: 1rem 0;

    span {
        font-weight: 700;
        color: v.$secundario;
    }
}

.contenedor {
    // width: 95%;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: v.$negro;
}

h1, h2 {
    font-family: v.$fuentePrincipal;
    margin: 0 0 v.$separacion 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
    color: v.$primario;
    margin-bottom: 0;

    span {
        color: v.$secundario;
        font-size: 1.8rem;
        display: block;
    }

    
    
    &::after {
        display: none;
    }&::after {
        content: '';
        display: block;
        width: 7rem;
        height: 7rem;
        margin: -1rem auto 0 auto;
        background-image: url(../img/logo_heading.svg);
        background-size: 7rem;
    }

}

.heading-blanco {
    @extend h2;
    color: v.$blanco;

    span {
        color: v.$blanco;
    }

    &::after {
        display: none;
    }


}

h3 {
    font-family: v.$fuentePrincipal;
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    // width: 100%;
    height: auto;
    display: block;
}

ul { // Reset de estilos a la listas 
    list-style: none;
    margin: 0;
    padding: 0;
}