// Fuentes 
$fuentePrincipal: "Raleway", sans-serif;
$fuenteSecundaria: "Roboto", sans-serif;
$fuenteCursiva: "Bona Nova", serif;

// Media Queries 
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores 
$primario: #FEBE10;
$secundario: #00529F;
$terciario: #EE324E;
$negro: #000000;
$blanco: #FFFFFF;
$grisClaro: #ECEEEF;
$cafeClaro: #EBE7DE;

$gris: #F2F5FA;

// Unidades
$separacion: 5rem;