/**
 * Header
 *
 * Estilos del header de p치gina principal del sitio.
 *
 */

@use "base/variables" as v;
@use "base/mixins" as m;


.header {
    padding: 5rem 0;
    position: relative; // Establecer posicionamiento para obscurecer la imagen del header 
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

    @include m.telefono {
        padding: 4rem;
    }

    @include m.tablet { 
        min-height: 60rem;
        padding: 3rem;
        background-size: 50%;
    }

    @include m.desktop {
        padding: 2rem;
        background-size: 30%;
    }



    &::before {
        content: '';
        background-color: v.$negro;
        position: absolute; // Establecer posicionamiento para obscurecer la imagen del header 
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;
        inset: 0; // Es lo mismo que top, right, bottom y left en 0
        opacity: 0.75;
    }



    .contenido-header {
        position: relative;
        
        h1 {
            text-align: center;
            color: v.$blanco;
            font-size: 3rem;
            text-transform: uppercase;
            margin-top: 5rem;

            @include m.tablet {
                margin-top: 15rem; 
                font-size: 3rem;
            }

            @include m.desktop { 
                margin-top: 10rem; 
                font-size: 4rem;
            }


        }
    } 


}

// Header de cada p치gina
.header-inicio {
    background-image: url(../img/header_inicio.svg);
}

// Barra de navegaci칩n 
.barra {
    display: flex;
    flex-direction: column;

    @include m.tablet { 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 30%;
        margin: 0 auto;
        filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.25));

        @include m.tablet {
            width: 10rem;
            margin: 0;
        }   
    }
}

.nav-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    @include m.tablet { 
        flex-direction: row;
        gap: 3rem; // Este gap se debe mostrarse en tama침o grande, por eso debe estar en el media query 
        margin-top: 0;
    }

    a {
        color: v.$primario;
        font-size: 1.8rem;
        // text-transform: uppercase;
        font-weight: 700;
        line-height: 4rem;
        
        &:hover {
            color: v.$blanco;
        }

        // &.activo { // Se debe utilizar & debido a que no se puede concatenar un a y luego una clase
        //     color: v.$secundario;
        // }
    }

    
}

